body {
    background-size: cover;
}

.navbar-brand {
    margin-left: 4em;
    font-size: 23px;
    padding: 0;
}

.right-align {
    position: absolute;
    right: 5em;
}

.display-4 {
    color: rgb(36, 34, 63);
}

p img {
    float: left;
    margin-right: 1rem;
}

.aboutme {
    display: flex;
    justify-content: center;
}
.jumbotron {
    background-color: lightgrey; 
    width: 960px;
}

#footer {
    text-align: center;
    line-height: 30px;
    color: white !important;
}
.footer {
    position: absolute;
    width: 100%;
    bottom: -2;
    background-color: #212529;
}