body {
    background-size: cover;
}

.navbar-brand {
    margin-left: 4em;
    font-size: 23px;
    padding: 0;
}

.right-align {
    position: absolute;
    right: 5em;
}

.display-4 {
    color: rgb(36, 34, 63);
}

p img {
    float: left;
    margin-right: 1rem;
}

.aboutme, .portfolio_grid, #Form-container {
    display: flex;
    justify-content: center;
}
.jumbotron {
    background-color: lightgrey; 
    width: 960px;
}

#footer {
    text-align: center;
    line-height: 30px;
    color: white !important;
}
.footer {
    position: absolute !important;
    width: 100%;
    bottom: -1;
    background-color: #212529;
}

.row {
    width: 100%;
    margin-left: 3px;
}

.col-6 img { 
    width: 100%;
}

.col-6 p {
    text-align: center;
}

.jumbotron h2 {
    margin-left: 13.5px;
}

.aboutme .jumbotron h2 {
    margin-left: 0;
}

form {
    width: 960px;
    margin-top: 15px;
}

.form {
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

.form-group.row {
    display: flex;
    justify-content: center;
}