html {
    min-height: 100%;
    position: relative;
}
body {
    background-size: cover;
}

.navbar-brand {
    margin-left: 4em;
    font-size: 23px;
    padding: 0;
}

.right-align {
    position: absolute;
    right: 5em;
}

.display-4 {
    color: rgb(36, 34, 63);
}

p img {
    float: left;
    margin-right: 1rem;
}

.aboutme, .portfolio_grid, .jumbotron_formy {
    display: flex;
    justify-content: center;
}
.jumbotron {
    background-color: lightgrey; 
    width: 960px;
}

#footer {
    text-align: center;
    line-height: 30px;
    color: white !important;
}
.footer {
    position: absolute !important;
    width: 100%;
    bottom: -1;
    background-color: #212529;
    display: block;
}

.row {
    width: 100%;
    margin-left: 3px;
}

.col-6 img { 
    width: 100%;
}

.col-6 p {
    text-align: center;
}

.jumbotron h2 {
    margin-left: 13.5px;
}

.aboutme .jumbotron h2 {
    margin-left: 0;
}

form {
    width: 960px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}


.jumbotron.formy {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    margin-left: 60px;
    margin-bottom: 226px;
    padding: 1rem;
}

.btn.btn-primary { 
    display: flex !important;
    justify-content: center !important;
    margin-left: 428px;
}

.col-sm-10 {
    margin-left: 58px;
}
h1 {
    color: white;
    text-align: center;
}
